.jackpots {
  padding-bottom: 154px;
  @include adaptiveValue(padding-bottom, 154, 50, 1600, 768, 1);
  &__inner {
    padding: 0 52px;
    @include adaptiveValue(padding-right, 52, 0, 1600, 992, 1);
    @include adaptiveValue(padding-left, 52, 0, 1600, 992, 1);
    display: grid;
    row-gap: 120px;

    @include adaptiveValue(row-gap, 120, 50, 1600, 768, 1);
  }

  &__head {
    column-gap: 60px;

    @include adaptiveValue(gap, 60, 20, 1600, 992, 1);


    @media screen and (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 440px;
    font-size: 40px;
    @include adaptiveValue(font-size, 40, 24, 1600, 360, 1);

    @media screen and (max-width: 991.98px) {
      max-width: 600px;
    }
  }

  &__text {
    padding-left: 48px;
    border-left: 1px solid rgba(75, 74, 72, 0.4);
    color: var(--secondary-font-color);

    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      padding-top: 25px;
      border-top: 1px solid rgba(75, 74, 72, 0.4);
      border-left: none;
    }
  }

  &__text p {
    max-width: 406px;

    @media screen and (max-width: 991.98px) {
      max-width: 600px;
    }
  }

  &__item {
    grid-auto-rows: min-content;
  }

  &__items {
    display: grid;
    column-gap: 80px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include adaptiveValue(column-gap, 80, 30, 1600, 992, 1);

    @media screen and (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575.98px) {
      grid-template-columns: 1fr;
    }
  }
}
