<header class="header">
  <div class="container">
    <div class="header__inner flex justify-content-space-between items-center">
      <a href="#" class="header__logo">
        <img src="img/logos/logo.png" alt="AppLab" width="117" height="32">
      </a>
      <div class="header__info flex items-center" data-menu>
        <nav class="menu">
          <ul class="menu__list flex">
            <li class="menu__item">
              <a href="#" class="menu__link primary-hover" data-goto=".hero">
                Home
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link primary-hover" data-goto=".features">
                Key Features
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link primary-hover" data-goto=".pricing">
                Pricing
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link primary-hover" data-goto=".benefits">
                Testimonial
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link primary-hover" data-goto=".faq">
                FAQ
              </a>
            </li>
          </ul>
        </nav>
        <a href="#" class="btn btn-primary header__btn">Try for free</a>
      </div>

      <button class="burger" aria-label="Open Menu" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
