.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.grid {
  display: grid;
}

.grid-col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex;
}

.justify-self-end {
  justify-self: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-start {
  justify-items: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.centered {
  text-align: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.font-primary {
  color: var(--primary-color);
}
